In [16]:
import pandas as pd

In [17]:
df = pd.read_excel(r"C:\Users\sandeep\Downloads\DS 620 Data Visualization\Project Final\2016 Election Result.xlsx")

In [18]:
df.head()

,STATE,STATE ABBREVIATION,FIRST NAME,LAST NAME,"LAST NAME, FIRST",PARTY,GENERAL RESULTS,GENERAL %,WINNER INDICATOR
0,Alabama,AL,Donald J.,Trump,"Trump, Donald J.",REP,1318255.0,0.620831,W
1,Alabama,AL,Hillary,Clinton,"Clinton, Hillary",DEM,729547.0,0.343579,L
2,Alabama,AL,Gary,Johnson,"Johnson, Gary",IND,44467.0,0.020942,L
3,Alabama,AL,NaN,Scattered,"Scattered,",W,21712.0,0.010225,L
4,Alabama,AL,Jill,Stein,"Stein, Jill",IND,9391.0,0.004423,L

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 933 entries, 0 to 932
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATE               830 non-null    object
 1   STATE ABBREVIATION  830 non-null    object
 2   FIRST NAME          796 non-null    object
 3   LAST NAME           831 non-null    object
 4   LAST NAME,  FIRST   830 non-null    object
 5   PARTY               829 non-null    object
 6   GENERAL RESULTS     830 non-null    float64
 7   GENERAL %           830 non-null    float64
 8   WINNER INDICATOR    830 non-null    object
dtypes: float64(2), object(7)
memory usage: 65.7+ KB

In [20]:
df.shape

(933, 9)

In [21]:
df = df.dropna(subset=['LAST NAME,  FIRST'])

In [22]:
df.rename(columns={'LAST NAME,  FIRST': 'Full Name'}, inplace=True)

In [23]:
df.columns

Index(['STATE', 'STATE ABBREVIATION', 'FIRST NAME', 'LAST NAME', 'Full Name',
       'PARTY', 'GENERAL RESULTS', 'GENERAL %', 'WINNER INDICATOR'],
      dtype='object')

In [24]:
df.shape

(830, 9)

In [25]:
df.head(10)

,STATE,STATE ABBREVIATION,FIRST NAME,LAST NAME,Full Name,PARTY,GENERAL RESULTS,GENERAL %,WINNER INDICATOR
0,Alabama,AL,Donald J.,Trump,"Trump, Donald J.",REP,1318255.0,0.620831,W
1,Alabama,AL,Hillary,Clinton,"Clinton, Hillary",DEM,729547.0,0.343579,L
2,Alabama,AL,Gary,Johnson,"Johnson, Gary",IND,44467.0,0.020942,L
3,Alabama,AL,NaN,Scattered,"Scattered,",W,21712.0,0.010225,L
4,Alabama,AL,Jill,Stein,"Stein, Jill",IND,9391.0,0.004423,L
5,Alaska,AK,Donald J.,Trump,"Trump, Donald J.",REP,163387.0,0.512815,W
6,Alaska,AK,Hillary,Clinton,"Clinton, Hillary",DEM,116454.0,0.365509,L
7,Alaska,AK,Gary,Johnson,"Johnson, Gary",LIB,18725.0,0.058771,L
8,Alaska,AK,NaN,Scattered,Scattered,W,9201.0,0.028879,L
9,Alaska,AK,Jill,Stein,"Stein, Jill",GRE,5735.0,0.018000,L

In [26]:
df.shape

(830, 9)

In [27]:
df['WINNER INDICATOR'].fillna('L', inplace=True)

In [28]:
df = df.drop(columns=['TOTAL VOTES', 'TOTAL VOTES #'])

KeyError: "['TOTAL VOTES', 'TOTAL VOTES #'] not found in axis"

In [29]:
df.columns

Index(['STATE', 'STATE ABBREVIATION', 'FIRST NAME', 'LAST NAME', 'Full Name',
       'PARTY', 'GENERAL RESULTS', 'GENERAL %', 'WINNER INDICATOR'],
      dtype='object')

In [30]:
df.to_excel('Documentation/2016 Election Result.xlsx', index=False)